#define VER_SHIM_FILENAME "shim_console.exe"
#include "shim_resources.h"

99              VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEOS          0x4
FILETYPE        0x1
{
  BLOCK "StringFileInfo"
  {    
    BLOCK "040904E4"
    {
      VALUE "FileDescription",  VER_SHIM_DESC
      VALUE "LegalCopyright",   VER_COPYRIGHT
      VALUE "InternalName",     VER_SHIM_FILENAME
      VALUE "OriginalFilename", VER_SHIM_FILENAME
      VALUE "ProductName",      VER_PRODUCT
      VALUE "ProductVersion",   VER_FILEVERSION_STR
      VALUE "FileVersion",      VER_FILEVERSION_STR
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252
  }
}
